<%include ../partials/countries%>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <input type="text" placeholder="Address Line 1" data-stripe="address_line1" class="form-control">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <input type="text" placeholder="Address Line 2" data-stripe="address_line2" class="form-control">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <input type="text" placeholder="City" data-stripe="address_city" class="form-control">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <input type="text" placeholder="State" data-stripe="address_state" class="form-control">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <input type="text" placeholder="ZIP Code" data-stripe="address_zip" class="form-control">
    </div>
  </div>
</div>
