<%include ../partials/countries%>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <input type="text" placeholder="Address Line 1" name="address_line1" class="form-control">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <input type="text" placeholder="Address Line 2" name="address_line2" class="form-control">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <input type="text" placeholder="City" name="address_city" class="form-control">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <input type="text" placeholder="State" name="address_state" class="form-control">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <input type="text" placeholder="ZIP Code" name="address_zip" class="form-control">
    </div>
  </div>
</div>
