<div class="sidebar col-md-3 pull-left">

  <div class="widget">
    <!-- div class="editContent">
      <h4>Categories</h4>
    </div-->
    <ul id="groups" class="nav nav-pills nav-stacked">
      <li id="cat:slr_slayers" class="active"><a href="#">SLR Slayers</a></li>
      <li id="mfr:hasselblad"><a href="#">Hasselblad</a></li>
      <li id="mfr:leica"><a href="#">Leica</a></li>
      <li id="mfr:olympus"><a href="#">Olympus</a></li>
      <li id="mfr:fuji"><a href="#">Fuji</a></li>
      <li id="cat:movie_stars"><a href="#">Movie Stars</a></li>
      <li id="cat:on_the_water"><a href="#">On the water</a></li>
      <li id="cat:in_the_water"><a href="#">In the water</a></li>
      <li id="cat:accessories"><a href="#">Accessories</a></li>
    </ul>
  </div>

</div><!-- /.sidebar -->
