<div class="sidebar col-md-3 pull-left">

  <div class="widget">
    <!-- div class="editContent">
      <h4>Categories</h4>
    </div-->
    <ul id="groups" class="nav nav-pills nav-stacked">
      <li id="cat:slr_slayers" class="active"><a href="#">SLR Slayers</a></li>
      <li id="mfr:hasselblad"><a href="#">Hasselblad</a></li>
      <li id="mfr:leica"><a href="#">Leica</a></li>
      <li id="mfr:olympus"><a href="#">Olympus</a></li>
      <li id="mfr:fuji"><a href="#">Fuji</a></li>
      <li id="cat:movie_stars"><a href="#">Movie Stars</a></li>
      <li id="cat:on_the_water"><a href="#">On the water</a></li>
      <li id="cat:in_the_water"><a href="#">In the water</a></li>
      <li id="cat:accessories"><a href="#">Accessories</a></li>
    </ul>
  </div>

  <div class="widget clearfix">

    <div class="editContent" style="outline: none; cursor: inherit;">
      <h4>Suggested Gears</h4>
    </div>
    <div id="suggested_gears">
      <div class="sml-item">
        <div class="entry-image">
          <a href="#"><img src="images/shop-shoe-1.jpg" alt="Image" style="outline: none; cursor: inherit;"></a>
        </div>
        <div class="editContent" style="outline: none; cursor: inherit;">
          <h4><a href="#">Fancy Shoes 1</a></h4>
        </div>
        <div class="editContent" style="outline: none; cursor: inherit;">
          <h5>$12.49</h5>
        </div>
        <div class="product-rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-o"></i>
          <i class="fa fa-star-o"></i>
        </div>
      </div>
      <div class="sml-item">
        <div class="entry-image">
          <a href="#"><img src="images/shop-shoe-2.jpg" alt="Image" style="outline: none; cursor: inherit;"></a>
        </div>
        <div class="editContent" style="outline: none; cursor: inherit;">
          <h4><a href="#">Fancy Shoes 2</a></h4>
        </div>
        <div class="editContent" style="outline: none; cursor: inherit;">
          <h5>$12.49</h5>
        </div>
        <div class="product-rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-o"></i>
          <i class="fa fa-star-o"></i>
        </div>
      </div>
      <div class="sml-item">
        <div class="entry-image">
          <a href="#"><img src="images/shop-shoe-3.jpg" alt="Image" style="outline: none; cursor: inherit;"></a>
        </div>
        <div class="editContent" style="outline: none; cursor: inherit;">
          <h4><a href="#">Fancy Shoes 3</a></h4>
        </div>
        <div class="editContent" style="outline: none; cursor: inherit;">
          <h5>$12.49</h5>
        </div>
        <div class="product-rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-o"></i>
          <i class="fa fa-star-o"></i>
        </div>
      </div>
    </div><!-- /.popular-items -->

  </div><!-- /.widget -->

  <div class="widget">
    <img class="img-rounded img-responsive" src="http://placehold.it/600x400">
    <div class="editContent">
      <h3>Subscribe for the latest Offers</h3>
    </div>
    <div class="editContent" style="outline: none; cursor: inherit;">
      <p>Subscribe to our Newsletter for the very latest Special Offers and New Products.</p>
    </div>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Email">
      <span class="input-group-btn">
								<button class="btn btn-default" type="button" style="outline: none; cursor: inherit;">send</button>
							</span>
    </div><!-- /input-group -->

  </div><!-- /.widget -->

</div><!-- /.sidebar -->
