<section class="content-block-nopad bg-deepocean">
  <div id="footer" class="container footer-1-1">
    <div class="row">

      <div class="col-sm-5">
        <img src="images/brand/bskit-logo-white.png" class="brand-img img-responsive"
             style="outline: none; cursor: inherit;">
        <!-- div class="editContent" style="outline: none; cursor: inherit;">
          <h3>By and for <strong>Photographers</strong> and <strong>Adventurers</strong> …</h3>
        </div -->
        <div class="editContent" style="outline: none; cursor: inherit;">
          <p class="lead">We put no gear out here, that we don't love yet
          </p>
        </div>
      </div>

      <div class="col-sm-6 col-sm-offset-1">
        <div class="row">
          <div class="col-md-4">
            <div class="editContent" style="outline: none; cursor: inherit;">
              <h4>Shortcuts</h4>
            </div>
            <div class="editContent">
              <ul>
                <!-- li><a href="#">About us</a></li -->
                <li><a href="#">Services</a></li>
                <!-- li><a href="#">Portfolio</a></li -->
                <li><a href="#">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="editContent" style="outline: none; cursor: inherit;">
              <h4>Legal Stuff</h4>
            </div>
            <div class="editContent" style="outline: none; cursor: inherit;">
              <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms &amp; Conditions</a></li>
                <li><a href="#">Cookie Policy</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="editContent" style="outline: none; cursor: inherit;">
              <h4>Seen Enough?</h4>
            </div>
            <a href="/" class="btn btn-block btn-primary" style="outline: none; cursor: inherit;">Rent Now</a>
          </div>
        </div>
      </div>

    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
