<!-- Navbar -->
<nav class="main-nav navbar-fixed-top headroom headroom--pinned">
  <div class="container">
    <!-- Brand and toggle -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" style="outline: none; outline-offset: -2px; cursor: inherit;">
        <img src="images/brand/bskit-logo-white-nostrap.png" class="brand-img img-responsive">
      <!-- img src="images/logo.png" class="brand-img img-responsive" -->
      </a>
    </div>
    <!-- Navigation -->
    <div class="collapse navbar-collapse">
      <ul id="header-nav" class="nav navbar-nav navbar-right">
        <li class="active nav-item"><a href="index">Home</a></li>
        <!-- li class="nav-item"><a href="#" style="outline: none; outline-offset: -2px; cursor: inherit;">Features</a>
        </li>
        <li class="nav-item"><a href="#" style="outline: none; outline-offset: -2px; cursor: inherit;">Pricing</a>
        </li-->
        <!-- li class="nav-item dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0"
             data-close-others="false" href="#" style="outline: none; outline-offset: -2px; cursor: inherit;">Pages
            <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="#" style="outline: none; cursor: inherit;">Dropdown 1</a></li>
            <li><a href="#" style="outline: none; cursor: inherit;">Dropdown 2</a></li>
            <li><a href="#" style="outline: none; cursor: inherit;">Dropdown 3</a></li>
            <li><a href="#" style="outline: none; cursor: inherit;">Dropdown 4</a></li>
          </ul>
        </li --><!--//dropdown-->
        <li class="nav-item"><a href="cart" style="outline: none; outline-offset: -2px; cursor: inherit;">Cart</a></li>
        <li id="cart_item_count">Empty</li>
        <!--li class="nav-item">
          <div class="col-lg-3">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
            </div>
          </div>
        </li-->



      </ul><!--//nav-->

      <form class="navbar-form navbar-right" role="search">
        <div class="input-group" style="margin: 12px auto 10px auto;">
          <input type="text" class="form-control" placeholder="Search this site">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-dark">
            <span>#</span>
            </button>
          </span>
        </div>
      </form>

    </div>
    <!--// End Navigation -->
  </div>
  <!--// End Container -->
</nav>
<!--// End Navbar -->
