<!--DOCTYPE html -->
<html>
<head>
  <% include ../partials/head %>
</head>
<body>

<div id="page" class="page">
  <header id="header-1">
    <% include ../partials/header %>
  </header>
  <!-- HEADER 1 -->

  <!--// END HEADER 1 --><!-- Start Promo 3 -->

  <!--// END Promo 3 --><!-- Start Shop 1-2 -->

  <!--// END Shop 1-2 --><!-- Start Shop 1-5 v2 -->

  <!--// End Shop 1-5 v2 --><!-- Start Footer 1-1 -->

  <!--// END Footer 1-1 --><!-- Start Shop 1-7 -->

  <!--// End Shop 1-7 --><!-- Start Pricing Table 1-1 -->

  <!-- End Pricing Table 1-1 --><!-- Start Contact 1 -->
  <section class="content-block contact-1">
    <div class="container text-center">

      <div class="col-sm-10 col-sm-offset-1">

        <div class="underlined-title">
          <div class="editContent" style="outline: none; cursor: inherit;">
            <h1>Get in Touch</h1>
          </div>
          <hr>
          <div class="editContent">
            <h2>Feel free to drop us a line OR call</h2>
          </div>
        </div>

        <div class="editContent">
          <p>Email is the preferred way to  communicate. In case of urgency or for other reasons - feel free to call us</p>
        </div>
        <div class="editContent" style="outline: none; cursor: inherit;">
          <ul class="contact-info">
            <li><span class="fa fa-map-marker" style="outline: none; cursor: inherit;"></span>2495 Night Shade Ln, Fremont, CA 94539</li>
            <li><span class="fa fa-phone" style="outline: none; cursor: inherit;"></span>+1 408 393 9606</li>
            <li><span class="fa fa-envelope" style="outline: none; cursor: inherit;"></span><a href="mailto:chiradip@chiradip.com">chiradip@chiradip.com</a> </li>
          </ul>
        </div>

        <!-- div id="contact" class="form-container">

          <div id="message"></div>

          <form method="post" action="js/contact-form.php" name="contactform" id="contactform">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <input name="name" id="name" type="text" value="" placeholder="Name" class="form-control">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <input name="email" id="email" type="text" value="" placeholder="Email" class="form-control">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <input name="phone" id="phone" type="text" value="" placeholder="Phone" class="form-control">
                </div>
              </div>
            </div>
            <div class="form-group">
              <textarea name="comments" id="comments" class="form-control" rows="3" placeholder="Message"></textarea>
              <div class="editContent" style="outline: none; cursor: inherit;">
                <p class="small text-muted"><span class="guardsman">* All fields are required.</span> Once we receive your message we will respond as soon as possible.</p>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit" id="cf-submit" name="submit" style="outline: none; cursor: inherit;">Send</button>
            </div>
          </form>
        </div--><!-- /.form-container -->

      </div><!-- /.col-sm-10 -->

    </div><!-- /.container -->
  </section><!-- /.content-block -->
  <%include ../partials/footer %>
  <!--// END Contact 1 --></div><!-- /#page -->


<!-- Scripts at the end... you know the score! -->
<!-- Core Scripts (Do not remove) -->
<% include ../partials/scripts %>
</body></html>
