<!--DOCTYPE html -->
<html>
<head>
  <% include ../partials/head %>
</head>
<body>

<div id="page" class="page"><!-- Start Shop 1-6 v1 -->

  <!--// End Shop 1-6 v1 --><!-- HEADER 1 -->
  <header id="header-1">
    <% include ../partials/header %>
  </header>
  <!--// END HEADER 1 --><!-- Start Shop 1-2 -->
  <!-- %include ../partials/flash-header % -->
  <!--// END Shop 1-2 --><!-- Start Shop 1-5 v2 -->
  <section id="content-3-2" class="content-block-nopad content-3-2">
    <div class="overlay">
      <div class="container text-center">
        <div class="editContent">
          <h2>We noticed and we will work on it so that it never happens again</h2>
        </div>
        <div class="editContent">
          <h1>Something went wrong..</h1>
        </div>
        <div class="col-md-6 col-md-offset-4 text-center">
          <div class="col-md-6">
            <a href="/" class="btn btn-block btn-outline btn-outline-lg outline-light">Go Back Home</a>
          </div>
          <!-- div class="col-md-6">
            <a href="#" class="btn btn-block btn-outline btn-outline-lg outline-light">Find out more</a>
          </div -->
        </div>

      </div>
      <!-- /.container -->
    </div>
  </section>
  <!--// End Shop 1-5 v2 --><!-- Start Footer 1-1 -->
  <%include ../partials/footer %>
  <!--// END Footer 1-1 --></div><!-- /#page -->


<!-- Scripts at the end... you know the score! -->
<!-- Core Scripts (Do not remove) -->


<!-- Vendor Scripts (Feel free to remove any that you aren't using in your final export) -->

<!-- Header 1 -->
<!-- Header 1 -->
<!-- Promo 2 Countdown -->
<!-- Owl Carousel -->
<!-- Content 2-7 Counter -->
<!-- Content 2-7 Counter -->
<!-- Gallery Filter -->
<!-- Gallery Popup -->
<!-- Contact Form -->
<!-- Contact Form -->
<% include ../partials/scripts %>
</body>
</html>
