<!--DOCTYPE html -->
<html>
<head>
  <% include ../partials/head %>
</head>
<body>

<div id="page" class="page"><!-- Start Shop 1-6 v1 -->

  <!--// End Shop 1-6 v1 --><!-- HEADER 1 -->
  <header id="header-1">
    <% include ../partials/header %>
  </header>
  <!--// END HEADER 1 --><!-- Start Shop 1-2 -->
  <!-- %include ../partials/flash-header % -->
  <!--// END Shop 1-2 --><!-- Start Shop 1-5 v2 -->
  <section id="shop-1-5" class="content-block shop-1-5">
    <div class="container">
      <div class="row">
        <!--div class="col-md-9 pull-right">
          <form id="eq_type">
            <label class="checkbox-inline"><input type="checkbox" id="type_camera_cb" value="camera" onclick="handleTypeClick(this)">Cameras</label>
            <label class="checkbox-inline"><input type="checkbox" id="type_lens_cb" value="lens" onclick="handleTypeClick(this)">Lenses</label>
            <label class="checkbox-inline"><input type="checkbox" id="type_accessory_cb" value="accessory" onclick="handleTypeClick(this)">Accessories</label>
          </form>
        </div-->

        <span id="content-right"><%include ../partials/content-right %></span>

        <%include ../partials/content-left %>

      </div><!-- /.row -->
    </div><!-- /.container -->
  </section>
  <!--// End Shop 1-5 v2 --><!-- Start Footer 1-1 -->
  <%include ../partials/footer %>
  <!--// END Footer 1-1 --></div><!-- /#page -->


<!-- Scripts at the end... you know the score! -->
<!-- Core Scripts (Do not remove) -->


<!-- Vendor Scripts (Feel free to remove any that you aren't using in your final export) -->

<!-- Header 1 -->
<!-- Header 1 -->
<!-- Promo 2 Countdown -->
<!-- Owl Carousel -->
<!-- Content 2-7 Counter -->
<!-- Content 2-7 Counter -->
<!-- Gallery Filter -->
<!-- Gallery Popup -->
<!-- Contact Form -->
<!-- Contact Form -->
<% include ../partials/scripts %>
</body>
</html>
